body{
    background-image: url("brown.jpg");
}
.logoatas {
    width:70%;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
}

.logosize {
    width:70%
}
.text {
    color: white;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
}

.ig {
    color: white;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
}
.iglogo {
    width:20%;
}
.logobawah {
    width:50%;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
}
.slideshow1 {
    position: absolute;
    width:250px;
    padding: 0px 0px 30px;
    bottom: -220px;
     
    }
    .slideshow2 {
        position: absolute;
        width:250px;
        padding: 0px 0px 30px;
        bottom: -520px;
         
        }
    
        .slideshow3 {
            position: absolute;
            width:250px;
            padding: 0px 0px 30px;
            bottom: -820px;
             
            }
            
    button {
        width: 70%;
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 6px 2px;
        cursor: pointer;
        border-radius: 150px;
      }


.toped {
    position: absolute;
    bottom: 280px;
}


.shopee {
    position: absolute;
    bottom: 200px;
    
}

.tiktokshop {
    position: absolute;
    bottom: 120px;
}

.ongkir{
    width: 150px;
    height:140px;
    bottom: 330px;
    left:26px;
position:absolute;

}
.cod {
    width:120px;
    height: 80px;
    right:26px;
    bottom:360px;  
    position:absolute; }

.options {
    width:70%;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
}
@media only screen and (min-width:700px) {
    .slideshow1 {
        position: absolute;
        width:250px;
        padding: 0px 0px 30px;
        bottom: -120px;
         
        }
        .slideshow2 {
            position: absolute;
            width:250px;
            padding: 0px 0px 30px;
            bottom: -420px;
             
            }
        
            .slideshow3 {
                position: absolute;
                width:250px;
                padding: 0px 0px 30px;
                bottom: -720px;
                 
                }
    .logoatas {
        width:40%;
        margin-left: auto;
        margin-right: auto;
        display:flex;
        justify-content: center;
    }
    .iglogo {
        width:5%;
    }
    .toped {
        position: absolute;
        bottom: 460px;
    }
    
    
    .shopee {
        position: absolute;
        bottom: 360px;
        
    }
    
    .tiktokshop {
        position: absolute;
        bottom: 260px;
    }
    
    .ongkir{
        width: 150px;
        height:140px;
        bottom: 540px;
        left:180px;
    position:absolute;
    
    }
    .cod {
        width:120px;
        height: 80px;
        right:180px;
        bottom:570px;  
        position:absolute; }
}


@media only screen and (min-width:1000px) {
    .logoatas {
        width:20%;
        margin-left: auto;
        margin-right: auto;
        display:flex;
        justify-content: center; }
    .logosize {
        width:70%
    }
    .text {
        color: white;
        margin-left: auto;
        margin-right: auto;
        display:flex;
        justify-content: center;
    }
    
    .ig {
        color: white;
        margin-left: auto;
        margin-right: auto;
        display:flex;
        justify-content: center;
    }
    .iglogo {
        width:5%;
    }
    .logobawah {
        width:50%;
        margin-left: auto;
        margin-right: auto;
        display:flex;
        justify-content: center;
    }
    .slideshow1 {
        position: absolute;
        width:250px;
        padding: 0px 0px 30px;
        bottom: -220px;
         
        }
        .slideshow2 {
            position: absolute;
            width:250px;
            padding: 0px 0px 30px;
            margin-left:570px;
            bottom: -220px;
             
            }
        
            .slideshow3 {
                position: absolute;
                width:250px;
                padding: 0px 0px 30px;
                margin-right: 570px;
                bottom: -220px;
                 
                }
                
        button {
            width: 70%;
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin: 6px 2px;
            cursor: pointer;
            border-radius: 150px;
          }
    
    
    .toped {
        position: absolute;
        bottom: 280px;
    }
    
    
    .shopee {
        position: absolute;
        bottom: 200px;
        
    }
    
    .tiktokshop {
        position: absolute;
        bottom: 120px;
    }
    
    .ongkir{
        width: 150px;
        height:140px;
        bottom: 350px;
        left:380px;
    position:absolute;
    
    }
    .cod {
        width:120px;
        height: 80px;
        right:380px;
        bottom:380px;  
        position:absolute; }
    
    .options {
        width:70%;
        margin-left: auto;
        margin-right: auto;
        display:flex;
        justify-content: center;
    }
}